<ul>
  <li>
    <a th:href="@{/}">Home</a>
  </li>
  <li>
    <a th:href="@{/countries}" class="nobr">Countries</a>
  </li>
  <li>
    <a th:href="@{/stock/symbol/US}" class="nobr">Stock symbols</a>
  </li>
  <li>
    <a th:href="@{/forex/exchange}" class="nobr">Forex Exchanges</a>
  </li>
  <li>
    <a th:href="@{/crypto/exchange}" class="nobr">Crypto Exchanges</a>
  </li>
  <li>
    <a th:href="@{/fda-advisory-committee-calendar}" class="nobr">FDA Meeting Calendar</a>
  </li>
  <li>
    <a th:href="@{/ipo-calendar}" class="nobr">IPO calendar</a>
  </li>
  <li>
    <a th:href="@{/stock/market-holiday/US}" class="nobr">Market holidays</a>
  </li>
  <li>
    <a th:href="@{/news/general}" class="nobr">General news</a>
  </li>
  <li>
    <a th:href="@{/news/forex}" class="nobr">Forex news</a>
  </li>
  <li>
    <a th:href="@{/news/crypto}" class="nobr">Crypto news</a>
  </li>
  <li>
    <a th:href="@{/news/merger}" class="nobr">Merger news</a>
  </li>
</ul>
