<ul>
  <li>
    <a href="/">
      <img src="static/img/9rove-logo.png?v=1.0.31.1" alt="9rove logo"
           style="height: 4rem; vertical-align: middle;"/>
    </a>
  </li>
</ul>
<ul class="menu">
  <li><a href="/">Home</a></li>
  <li><a href="/ipos">IPOs</a></li>
  <li><a href="/general-news">General news</a></li>
  <li><a href="/forex-news">Forex news</a></li>
  <li><a href="/crypto-news">Crypto news</a></li>
  <li><a href="/merger-news">Merger news</a></li>
  <li><a href="/about">About</a></li>
</ul>
