<!DOCTYPE html>
<html th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>9rove - Stock earning surprises</title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption th:text="'Stock earning surprises - ' + ${symbol}"></caption>
        <thead>
        <tr>
          <th>Year/Quarter</th>
          <th>Period</th>
          <th>Estimate</th>
          <th>Surprise</th>
          <th>Surprise percent</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="element : ${array.list}">
          <td data-th-text="${element.year} + '/' + ${element.quarter}"/>
          <td data-th-text="${element.period}" class="nobr"/>
          <td data-th-text="${element.estimate}"/>
          <td data-th-text="${element.surprise}"/>
          <td data-th-text="${element.surprisePercent}"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
