<!DOCTYPE html>
<html th:replace="~{'./templates/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>South Park Investments - Insider sentiment</title>
</head>
<body>
<main>
  <section>
    <article>
      <p data-th-text="'Symbol: ' + ${object.getString('symbol')}"/>
      <table>
        <caption>Insider sentiment</caption>
        <thead>
        </thead>
        <tbody>
        <tr>
          <th>Symbol</th>
          <th>Year</th>
          <th>Month</th>
          <th>Change</th>
          <th>MSPR</th>
        </tr>
        <tr data-th-each="element : ${object.getJsonArray('data')}">
          <td data-th-text="${element.getString('symbol')}" class="nobr"/>
          <td data-th-text="${element.getString('year')}" class="nobr"/>
          <td data-th-text="${element.getString('month')}" class="nobr"/>
          <td data-th-text="${element.getString('change')}" class="nobr"/>
          <td data-th-text="${element.getString('mspr')}" class="nobr"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
