<!DOCTYPE html>
<html th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>South Park Investments - Company profile</title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption>Company profile</caption>
        <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Name</th>
          <td data-th-text="${profile.getString('name')}"/>
        </tr>
        <tr>
          <th>Country</th>
          <td data-th-text="${profile.getString('country')}"/>
        </tr>
        <tr>
          <th>Phone</th>
          <td data-th-text="${profile.getString('phone')}"/>
        </tr>
        <tr>
          <th>Web URL</th>
          <td data-th-text="${profile.getString('weburl')}"/>
        </tr>
        <tr>
          <th>Logo</th>
          <td>
            <img th:src="@{{image}(image=${profile.getString('logo')})}" th:alt="${profile.getString('name')}"
                 width="100" height="100"/>
          </td>
        </tr>
        <tr>
          <th>Currency</th>
          <td data-th-text="${profile.getString('currency')}"/>
        </tr>
        <tr>
          <th>IPO</th>
          <td data-th-text="${profile.getString('ipo')}"/>
        </tr>
        <tr>
          <th>Exchange</th>
          <td data-th-text="${profile.getString('exchange')}"/>
        </tr>
        <tr>
          <th>Ticker</th>
          <td data-th-text="${profile.getString('ticker')}"/>
        </tr>
        <tr>
          <th>Market capitalization</th>
          <td data-th-text="${profile.getString('marketCapitalization')}"/>
        </tr>
        <tr>
          <th>Share outstanding</th>
          <td data-th-text="${profile.getString('shareOutstanding')}"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
