<!DOCTYPE html>
<html th:replace="~{'./templates/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>South Park Investments - Stock symbol</title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption>Stock symbol</caption>
        <thead>
        <tr>
          <th>Symbol</th>
          <th>Description</th>
          <th>Type</th>
          <th>Currency</th>
          <th class="nobr">Company profile</th>
          <th class="nobr">Earning surprises</th>
          <th class="nobr">Financials reported</th>
          <th class="nobr">Visa applications</th>
          <th class="nobr">Insider sentiment</th>
          <th class="nobr">Insider transactions</th>
          <th class="nobr">Recommendation trends</th>
          <th class="nobr">Filings</th>
          <th class="nobr">USA spending</th>
          <th class="nobr">USPTO patent</th>
          <th>ISIN</th>
          <th>MIC</th>
          <th>FIGI</th>
          <th class="nobr">Share Class FIGI</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="symbol : ${symbols.list}">
          <th data-th-text="${symbol.displaySymbol}"/>
          <td data-th-text="${symbol.description}" class="nobr"/>
          <td data-th-text="${symbol.type}" class="nobr"/>
          <td data-th-text="${symbol.currency}"/>
          <td>
            <a th:href="@{/stock/profile2/{id}(id=${symbol.symbol})}">profile</a>
          </td>
          <td>
            <a th:href="@{/stock/earnings/{id}(id=${symbol.symbol})}">earnings</a>
          </td>
          <td>
            <a th:href="@{/stock/financials-reported/{id}(id=${symbol.symbol})}">financials reported</a>
          </td>
          <td>
            <a th:href="@{/stock/visa-application/{id}(id=${symbol.symbol})}">visa applications</a>
          </td>
          <td>
            <a th:href="@{/stock/insider-sentiment/{id}(id=${symbol.symbol})}">insider sentiment</a>
          </td>
          <td>
            <a th:href="@{/stock/insider-transactions/{id}(id=${symbol.symbol})}">insider transactions</a>
          </td>
          <td>
            <a th:href="@{/stock/recommendation/{id}(id=${symbol.symbol})}">recommendation trends</a>
          </td>
          <td>
            <a th:href="@{/stock/filings/{id}(id=${symbol.symbol})}">filings</a>
          </td>
          <td>
            <a th:href="@{/stock/usa-spending/{id}(id=${symbol.symbol})}">USA spending</a>
          </td>
          <td>
            <a th:href="@{/stock/uspto-patent/{id}(id=${symbol.symbol})}">USPTO patent</a>
          </td>
          <td data-th-text="${symbol.isin}"/>
          <td data-th-text="${symbol.mic}"/>
          <td data-th-text="${symbol.figi}"/>
          <td data-th-text="${symbol.shareClassFIGI}"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
