<!DOCTYPE html>
<html th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>9rove - Crypto exchanges</title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption>Crypto Exchanges</caption>
        <thead>
        <tr>
          <th>Exchange</th>
          <th>Symbols</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="exchange : ${exchanges}">
          <th data-th-text="${exchange.getMap().name}"/>
          <td>
            <a th:href="@{/crypto/symbol/{id}(id=${exchange.getMap().encoded})}">symbols</a>
          </td>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
