<!DOCTYPE html>
<html th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>South Park Investments - Countries</title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption>Countries</caption>
        <thead>
        <tr>
          <th>Country</th>
          <th>Code</th>
          <th>Region</th>
          <th>Subregion</th>
          <th>Currency</th>
          <th class="nobr">Currency code</th>
          <th class="nobr">Default spread</th>
          <th>Rating</th>
          <th class="nobr">Equity risk premium</th>
          <th class="nobr">Country risk premium</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="country : ${countries}">
          <th data-th-text="${country.country}" class="nobr"/>
          <td data-th-text="${country.code2}"/>
          <td data-th-text="${country.region}"/>
          <td data-th-text="${country.subRegion}" class="nobr"/>
          <td data-th-text="${country.currency}" class="nobr"/>
          <td data-th-text="${country.currencyCode}"/>
          <td data-th-text="${country.defaultSpread}"/>
          <td data-th-text="${country.Rating}"/>
          <td data-th-text="${country.equityRiskPremium}"/>
          <td data-th-text="${country.countryRiskPremium}"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
