<!DOCTYPE html>
<html th:replace="~{'./templates/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>Vert.x Demo application - Crypto exchanges</title>
</head>
<body>
<main>
  <section>
    <details>
      <summary>Finnhub API details</summary>
      <p>Docs <a href="https://finnhub.io/docs/api/crypto-exchanges" target="_blank">/crypto/exchange</a></p>
    </details>
    <article>
      <table>
        <caption>Crypto Exchanges</caption>
        <thead>
        <tr>
          <th>Exchange</th>
          <th>Symbols</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="exchange : ${exchanges.list}">
          <th data-th-text="${exchange}"/>
          <td>
            <a th:href="@{/crypto-symbols/{id}(id=${exchange})}">Symbols</a>
          </td>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
