<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Vert.x Demo application - Countries</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a th:href="@{/}" th:text="Home"/>
      </li>
      <li>
        <a th:href="@{/countries}" th:text="Countries"/>
      </li>
      <li>
        <a th:href="@{/crypto-exchanges}" th:text="'Crypto Exchanges'"/>
      </li>
      <li>
        <a th:href="@{/fda-advisory-committee-calendar}" th:text="'FDA Committee Meeting Calendar'"/>
      </li>
    </ul>
  </nav>
  <table>
    <caption th:text="'Crypto Exchanges'"/>
    <thead>
    <tr>
      <th data-th-text="'Exchange'"></th>
      <th data-th-text="'Symbols'"></th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="exchange : ${exchanges.list}">
      <th data-th-text="${exchange}"/>
      <td>
        <a th:href="@{/crypto-symbols/{id}(id=${exchange})}">Symbols</a>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
