<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Vert.x Demo application - Countries</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a th:href="@{/}" th:text="Home"/>
      </li>
      <li>
        <a th:href="@{/countries}" th:text="Countries"/>
      </li>
      <li>
        <a th:href="@{/forex-exchanges}" th:text="'Forex Exchanges'"/>
      </li>
      <li>
        <a th:href="@{/crypto-exchanges}" th:text="'Crypto Exchanges'"/>
      </li>
      <li>
        <a th:href="@{/fda-advisory-committee-calendar}" th:text="'FDA Committee Meeting Calendar'"/>
      </li>
      <li>
        <a th:href="@{/general-news}" th:text="'General news'"/>
      </li>
      <li>
        <a th:href="@{/forex-news}" th:text="'Forex news'"/>
      </li>
      <li>
        <a th:href="@{/crypto-news}" th:text="'Crypto news'"/>
      </li>
    </ul>
  </nav>
  <table>
    <caption th:text="'FDA Advisory Committee Calendar'"/>
    <thead>
    <tr>
      <th data-th-text="'Event description'"></th>
      <th data-th-text="'From'"></th>
      <th data-th-text="'To'"></th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="entry : ${entries.list}">
      <th><a th:href="${entry.url}" th:text="${entry.eventDescription}" th:target="_blank"></a></th>
      <td data-th-text="${entry.fromDate}"/>
      <td data-th-text="${entry.toDate}"/>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
