<!DOCTYPE html>
<html th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>South Park Investments - FDA Advisory Committee Calendar</title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption>FDA Advisory Committee Calendar</caption>
        <thead>
        <tr>
          <th>Event description</th>
          <th>From</th>
          <th>To</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="entry : ${entries.list}">
          <th><a th:href="${entry.url}" th:text="${entry.eventDescription}" th:target="_blank"></a></th>
          <td data-th-text="${entry.fromDate}" class="nobr"/>
          <td data-th-text="${entry.toDate}" class="nobr"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
