<!DOCTYPE html>
<html th:replace="~{'./templates/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>Vert.x Demo application - Forex symbol</title>
</head>
<body>
<main>
  <section>
    <details>
      <summary>Finnhub API details</summary>
      <p>Docs <a href="https://finnhub.io/docs/api/forex-symbols" target="_blank">/forex/symbol</a></p>
    </details>
    <article>
      <table>
        <caption>Forex symbol</caption>
        <thead>
        <tr>
          <th>Display symbol</th>
          <th>Symbol</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="symbol : ${symbols.list}">
          <th data-th-text="${symbol.displaySymbol}"/>
          <td data-th-text="${symbol.symbol}"/>
          <td data-th-text="${symbol.description}"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
