<!DOCTYPE html>
<html th:replace="~{'./templates/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>Vert.x Demo application - Forex symbol</title>
</head>
<body>
<main>
  <section>
    <table>
      <caption>Forex symbol</caption>
      <thead>
      <tr>
        <th>Display symbol</th>
        <th>Symbol</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr data-th-each="symbol : ${symbols.list}">
        <th data-th-text="${symbol.displaySymbol}"/>
        <td data-th-text="${symbol.symbol}"/>
        <td data-th-text="${symbol.description}"/>
      </tr>
      </tbody>
    </table>
  </section>
</main>
</body>
</html>
