<!DOCTYPE html>
<html th:replace="~{'./templates/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>Vert.x Demo - Forex exchanges</title>
</head>
<body>
<main>
  <section>
    <article>
      <details>
        <summary>Finnhub API details</summary>
        <p>Docs <a href="https://finnhub.io/docs/api/forex-exchanges" target="_blank">/forex/exchange</a></p>
      </details>
    </article>
  </section>
  <section>
    <article>
      <table>
        <caption>Forex Exchanges</caption>
        <thead>
        <tr>
          <th>Exchange</th>
          <th>Symbols</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="exchange : ${exchanges.list}">
          <th data-th-text="${exchange}"/>
          <td>
            <a th:href="@{/forex-symbols/{id}(id=${exchange})}">symbols</a>
          </td>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
