<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title th:text="|9rove - ${pageTitle}|"></title>
</head>
<body>
<section>
  <header class="container">
    <h1>Market Pulse</h1>
    <p>Stay informed with today’s IPO announcements and the latest financial news — updated live.</p>
  </header>
  <section class="section-highlight">
    <h2><i data-lucide="trending-up"></i> Upcoming IPOs</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Shares</th>
        <th>Price $</th>
        <th>Status</th>
        <th>Total Value $</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elementsByExchange['NASDAQ Capital']}">
        <th th:text="${element.name}"></th>
        <td th:text="${element.date}" class="date wide-column"></td>
        <td th:text="${element.number_of_shares}" style="text-align: right; vertical-align: top"></td>
        <td th:text="${element.price_formatted}" style="text-align: right; vertical-align: top; white-space: nowrap"/>
        <td th:text="${element.status}"></td>
        <td th:text="${element.total_shares_value}" style="text-align: right; vertical-align: top"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="section-highlight">
    <h2><i data-lucide="radar"></i> Today's news</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Time</th>
        <th>Headline</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${news}">
        <td th:text="${element.time}" class="nobr align-top"/>
        <td class="align-top">
          <a th:href="@{{url}(url=${element.url})}" th:text="${element.headline}" th:target="_blank"></a>
        </td>
        <td th:utext="${element.summary}"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <script src="/static/beautify-table.js?v=1.0.32"></script>
  <script>lucide.createIcons();</script>
</section>
</body>
</html>
