<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Vert.x Demo application - Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a th:href="@{/}" th:text="Home"/>
      </li>
      <li>
        <a th:href="@{/countries}" th:text="Countries"/>
      </li>
      <li>
        <a th:href="@{/forex-exchanges}" th:text="'Forex Exchanges'"/>
      </li>
      <li>
        <a th:href="@{/crypto-exchanges}" th:text="'Crypto Exchanges'"/>
      </li>
      <li>
        <a th:href="@{/fda-advisory-committee-calendar}" th:text="'FDA Committee Meeting Calendar'"/>
      </li>
      <li>
        <a th:href="@{/general-news}" th:text="'General news'"/>
      </li>
      <li>
        <a th:href="@{/forex-news}" th:text="'Forex news'"/>
      </li>
      <li>
        <a th:href="@{/crypto-news}" th:text="'Crypto news'"/>
      </li>
      <li>
        <a th:href="@{/merger-news}" th:text="'Merger news'"/>
      </li>
    </ul>
  </nav>
</main>
</body>
</html>
