<!DOCTYPE html>
<html th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>9rove - Home</title>
</head>
<body>
<section>
  <header>
    <h1>IPO Watchlist</h1>
    <p class="secondary">Stay ahead with fresh IPO data from leading U.S. exchanges. Curated from trusted sources,
      including Finnhub.</p>
  </header>
  <section class="section-highlight">
    <h2><i data-lucide="trending-up"></i> NASDAQ Capital</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elementsByExchange['NASDAQ Capital']}">
        <th th:text="${element.name}"></th>
        <td th:text="${element.date}" class="date wide-column"></td>
        <td th:text="${element.number_of_shares}" class="large-number"></td>
        <td
          th:text="${element.price_number != null} ? ${element.price_number} : ${element.price_from} + ' - ' + ${element.price_to}"
          class="price"></td>
        <td th:text="${element.status}"></td>
        <td th:text="${element.total_shares_value}" class="large-number"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="section-highlight">
    <h2><i data-lucide="bar-chart-3"></i> NASDAQ Global</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elementsByExchange['NASDAQ Global']}">
        <th th:text="${element.name}"></th>
        <td th:text="${element.date}" class="date wide-column"></td>
        <td th:text="${element.number_of_shares}" class="large-number"></td>
        <td
          th:text="${element.price_number != null} ? ${element.price_number} : ${element.price_from} + ' - ' + ${element.price_to}"
          class="price"></td>
        <td th:text="${element.status}"></td>
        <td th:text="${element.total_shares_value}" class="large-number"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="section-highlight">
    <h2><i data-lucide="line-chart"></i> NASDAQ Global Select</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elementsByExchange['NASDAQ Global Select']}">
        <th th:text="${element.name}"></th>
        <td th:text="${element.date}" class="date wide-column"></td>
        <td th:text="${element.number_of_shares}" class="large-number"></td>
        <td
          th:text="${element.price_number != null} ? ${element.price_number} : ${element.price_from} + ' - ' + ${element.price_to}"
          class="price"></td>
        <td th:text="${element.status}"></td>
        <td th:text="${element.total_shares_value}" class="large-number"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="section-highlight">
    <h2><i data-lucide="banknote"></i> NYSE</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elementsByExchange['NYSE']}">
        <th th:text="${element.name}"></th>
        <td th:text="${element.date}" class="date wide-column"></td>
        <td th:text="${element.number_of_shares}" class="large-number"></td>
        <td
          th:text="${element.price_number != null} ? ${element.price_number} : ${element.price_from} + ' - ' + ${element.price_to}"
          class="price"></td>
        <td th:text="${element.status}"></td>
        <td th:text="${element.total_shares_value}" class="large-number"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="section-highlight">
    <h2><i data-lucide="arrow-up-right"></i> NYSE MKT</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elementsByExchange['NYSE MKT']}">
        <th th:text="${element.name}"></th>
        <td th:text="${element.date}" class="date wide-column"></td>
        <td th:text="${element.number_of_shares}" class="large-number"></td>
        <td
          th:text="${element.price_number != null} ? ${element.price_number} : ${element.price_from} + ' - ' + ${element.price_to}"
          class="price"></td>
        <td th:text="${element.status}"></td>
        <td th:text="${element.total_shares_value}" class="large-number"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <section class="section-highlight">
    <h2><i data-lucide="file-question"></i> Exchange unknown</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elementsByExchange['null']}">
        <th th:text="${element.name}"></th>
        <td th:text="${element.date}" class="date wide-column"></td>
        <td th:text="${element.number_of_shares}" class="large-number"></td>
        <td
          th:text="${element.price_number != null} ? ${element.price_number} : ${element.price_from} + ' - ' + ${element.price_to}"
          class="price"></td>
        <td th:text="${element.status}"></td>
        <td th:text="${element.total_shares_value}" class="large-number"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <script src="/static/beautify-table.js?v=1.0.30"></script>
  <script>lucide.createIcons();</script>
</section>
</body>
</html>
