<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title th:text="|9rove - ${pageTitle}|"></title>
</head>
<body>
<section>
  <script>
    /*<![CDATA[*/
    const epochMillis = [[${epochMillis}]];
    /*]]>*/

    document.addEventListener("DOMContentLoaded", () => {
        const lastUpdated = new Date(epochMillis);

        function update() {
          const now = new Date().getTime();
          const delta = Math.floor((now - lastUpdated) / 1000);
          const updated = document.getElementById("updated");
          if (updated && updated.dataset.original === undefined) {
            updated.dataset.original = updated.textContent;
          }
          if (updated) {
            updated.textContent = `${updated.dataset.original} Last synced ${delta} seconds ago.`;
          }
        }

        update();
        setInterval(update, 1000);
      }
    );
  </script>
  <header>
    <h1>IPOs</h1>
    <p id="updated" style="color: grey"></p>
    <p class="secondary">Explore upcoming and recent IPOs across all major markets. Curated from trusted financial
      sources, including Finnhub.</p>
  </header>
  <section class="section-highlight">
    <h2><i data-lucide="bell"></i> All exchanges</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Exchange</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elements}">
        <th th:text="${element.name}" class="align-top"/>
        <td th:text="${element.date}" class="date wide-column align-top"/>
        <td th:text="${element.exchange}" class="align-top"/>
        <td th:text="${element.number_of_shares}" class="large-number align-top"/>
        <td
          th:text="${element.price_number != null} ? ${element.price_number} : ${element.price_from} + ' - ' + ${element.price_to}"
          class="price align-top"/>
        <td th:text="${element.status}" class="align-top"/>
        <td th:text="${element.total_shares_value}" class="large-number align-top"/>
      </tr>
      </tbody>
    </table>
  </section>
  <script src="/static/beautify-table.js?v=1.0.31"></script>
  <script>lucide.createIcons();</script>
</section>
</body>
</html>
