<!DOCTYPE html>

<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:replace="${title}">South Park Investments</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
  <style>
    .nobr {
      white-space: nowrap;
    }
  </style>
</head>
<body>
<header>
  <nav th:insert="~{templates/menu.html}"></nav>
</header>
<main>
  <section th:replace="${content}"></section>
</main>
<footer>
  <p>South Park Investments</p>
</footer>
</body>
</html>
