<ul>
    <li>
        <a th:href="@{/}" th:text="Home"></a>
    </li>
    <li>
        <a th:href="@{/countries}" th:text="Countries"></a>
    </li>
    <li>
        <a th:href="@{/forex-exchanges}" th:text="'Forex Exchanges'"></a>
    </li>
    <li>
        <a th:href="@{/crypto-exchanges}" th:text="'Crypto Exchanges'"></a>
    </li>
    <li>
        <a th:href="@{/fda-advisory-committee-calendar}" th:text="'FDA Committee Meeting Calendar'"></a>
    </li>
    <li>
        <a th:href="@{/general-news}" th:text="'General news'"></a>
    </li>
    <li>
        <a th:href="@{/forex-news}" th:text="'Forex news'"></a>
    </li>
    <li>
        <a th:href="@{/crypto-news}" th:text="'Crypto news'"></a>
    </li>
    <li>
        <a th:href="@{/merger-news}" th:text="'Merger news'"></a>
    </li>
</ul>
