<ul>
  <li>
    <a th:href="@{/}">Home</a>
  </li>
  <li>
    <a th:href="@{/countries}" class="nobr">Countries</a>
  </li>
  <li>
    <a th:href="@{/stock-symbols}" class="nobr">Stock symbols</a>
  </li>
  <li>
    <a th:href="@{/forex-exchanges}" class="nobr">Forex Exchanges</a>
  </li>
  <li>
    <a th:href="@{/crypto-exchanges}" class="nobr">Crypto Exchanges</a>
  </li>
  <li>
    <a th:href="@{/fda-advisory-committee-calendar}" class="nobr">FDA Meeting Calendar</a>
  </li>
  <li>
    <a th:href="@{/ipo-calendar}" class="nobr">IPO calendar</a>
  </li>
  <li>
    <a th:href="@{/stock/market-holiday/US}" class="nobr">Market holidays</a>
  </li>
  <li>
    <a th:href="@{/general-news}" class="nobr">General news</a>
  </li>
  <li>
    <a th:href="@{/forex-news}" class="nobr">Forex news</a>
  </li>
  <li>
    <a th:href="@{/crypto-news}" class="nobr">Crypto news</a>
  </li>
  <li>
    <a th:href="@{/merger-news}" class="nobr">Merger news</a>
  </li>
</ul>
