<ul>
    <li>
        <a th:href="@{/}">Home</a>
    </li>
    <li>
        <a th:href="@{/countries}">Countries</a>
    </li>
    <li>
        <a th:href="@{/stock-symbols}">Stock symbols</a>
    </li>
    <li>
        <a th:href="@{/forex-exchanges}">Forex Exchanges</a>
    </li>
    <li>
        <a th:href="@{/crypto-exchanges}">Crypto Exchanges</a>
    </li>
    <li>
        <a th:href="@{/fda-advisory-committee-calendar}">Committee Meeting Calendar</a>
    </li>
    <li>
        <a th:href="@{/general-news}">General news</a>
    </li>
    <li>
        <a th:href="@{/forex-news}">Forex news</a>
    </li>
    <li>
        <a th:href="@{/crypto-news}">Crypto news</a>
    </li>
    <li>
        <a th:href="@{/merger-news}">Merger news</a>
    </li>
</ul>
