<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title th:text="|9rove - ${pageTitle}|"></title>
</head>
<body>
<section>
  <header>
    <h1 data-th-text="${tableHeader}"></h1>
    <p data-th-text="${tableSubheader}" class="secondary"></p>
  </header>
  <section class="section-highlight">
    <h2>
      <i data-th-text="${lucideIcon}" data-lucide="${lucideIcon}"></i>
      <span th:fragment="newsIcon(category)">
        <i data-lucide="newspaper" th:if="${category == 'general'}"></i>
        <i data-lucide="dollar-sign" th:if="${category == 'forex'}"></i>
        <i data-lucide="shield-check" th:if="${category == 'crypto'}"></i>
      <i data-lucide="handshake" th:if="${category == 'merger'}"></i>
      </span>
      All news
    </h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Date</th>
        <th>Headline</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="element : ${elements}">
        <td th:text="${element.datetime}" class="nobr"/>
        <td>
          <a th:href="@{{url}(url=${element.url})}" th:text="${element.headline}" th:target="_blank"></a>
        </td>
        <td th:utext="${element.summary}"></td>
      </tr>
      </tbody>
    </table>
  </section>
  <script src="/static/beautify-table.js?v=1.0.29-SNAPSHOT"></script>
  <script>lucide.createIcons();</script>
</section>
</body>
</html>
