<!DOCTYPE html>
<html th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title data-th-text="'Vert.x Demo - ' + ${caption}"></title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption th:text="${caption}"></caption>
        <thead>
        <tr>
          <th>Headline</th>
          <th>Summary</th>
          <th>Source</th>
          <th>Category</th>
          <th>Datetime</th>
          <th>Related</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="new : ${news.list}">
          <td>
            <a th:href="@{{url}(url=${new.url})}" th:text="${new.headline}" th:target="_blank"></a>
          </td>
          <td data-th-text="${new.summary}"/>
          <td>
            <img th:src="@{{image}(image=${new.image})}" th:alt="${new.source}" th:title="${new.source}"/>
          </td>
          <td data-th-text="${new.category}"/>
          <td data-th-text="${new.datetime}"/>
          <td data-th-text="${new.related}"/>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
