<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{'./templates/common/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title th:text="|9rove - ${pageTitle}|"></title>
</head>
<body>
<section>
  <header>
    <h1>All IPOs</h1>
  </header>
  <section class="section-highlight">
    <h2><i data-lucide="globe"></i> All exchanges</h2>
    <table role="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="wide-column">Date</th>
        <th>Exchange</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Status</th>
        <th>Total Value</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="ipo : ${elements}">
        <th th:text="${ipo.name}"/>
        <td th:text="${ipo.date}" class="date wide-column"/>
        <td th:text="${ipo.exchange}"/>
        <td th:text="${ipo.number_of_shares}" class="large-number"/>
        <td th:text="${ipo.price}"/>
        <td th:text="${ipo.status}"/>
        <td th:text="${ipo.total_shares_value}" class="large-number"/>
      </tr>
      </tbody>
    </table>
  </section>
  <script src="/static/beautify-table.js?v=1.0.28-SNAPSHOT"></script>
  <script>lucide.createIcons();</script>
</section>
</body>
</html>
