<!DOCTYPE html>
<html th:replace="~{'./templates/layout.html' :: layout(~{::title}, ~{::section})}" lang="en">
<head>
  <title>South Park Investments - Forex exchanges</title>
</head>
<body>
<main>
  <section>
    <article>
      <table>
        <caption>Forex exchanges</caption>
        <thead>
        <tr>
          <th>Exchange</th>
          <th>Symbols</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="exchange : ${exchanges.list}">
          <th data-th-text="${exchange}"/>
          <td>
            <a th:href="@{/forex/symbol/{id}(id=${exchange})}">symbols</a>
          </td>
        </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
</body>
</html>
